{% extends 'basic/index.html' %}
{% load static %}

{% block stylesheet %}
   <link href="{% static 'css/main.css' %}" rel="stylesheet"/>
   <link href="{% static 'css/inventory.css' %}" rel="stylesheet"/>
{% endblock %}

{% block title %}Inventory Management{% endblock %}

{% block content %}

<div class="invt-container">
    <div class="invt-list">
        <div class="top">
            <!-- search  bar -->
            <form method="GET" action="{% url 'inventory:ingredient-search' %}" class="search-form">
                <div class="search-container">
                    <span class="material-symbols-outlined">search</span>
                    <input 
                    type="text" 
                    name="q" 
                    placeholder="Search inventory items" 
                    class="search-input" 
                    />
                </div>
            </form>
        </div>
        <!-- end serach bar -->
         <!-- Inventory table start -->
        <div class="inventory">
            <div class="inventory-info">
                <p>Total Inventory items: {{ingredients.count}}
                </p>
            </div>
            <h2>Inventory List</h2>
            {% if ingredients %}
            <table border="1" class="inventory-table">
                <tr>
                    <th>S.N.</th>
                    <th>Name</th>
                    <th>Unit</th>
                    <th>Previous Stock</th>
                    <th>Current Stock</th>
                    <th>Added Stock</th>
                    <th>Created By</th>
                    <th>Action</th>
                </tr>
                {% for ingredient in ingredients %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{ingredient.name}}</td>
                    <td>{{ingredient.unit}}</td>
                    <td>{{ingredient.previous_stock}}</td>
                    <td>{{ingredient.current_stock}}</td>
                    <td>{{ingredient.added_stock}}</td>
                    <td>{{ingredient.created_by}}</td>
                    <td>
                        <div>
                            <span class="update-item"><a href="{% url 'inventory:ingredient-update' ingredient.pk %}">Update</a></span>
                        <span class="delete-item"><a href="{% url 'inventory:ingredient-delete' ingredient.pk %}">Delete</a></span>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
            <p>No inventory available</p>
            {% endif %}
            
            
        </div>
        <!-- end table inventory -->
         
        <!-- Form for Ingredient add -->
        <div class="add-ingredient">
            <h2>Create New Ingredient</h2>
            <form action="{% url 'inventory:inventory-list' %}" method="POST">
                {% csrf_token %}
                {% for field in form %}
                {{field.label_tag}}
                {{field}}
                {{field.errors}}
                {% endfor %}
                <input type="submit" value="Submit">
            </form>
            
        </div>
        <!-- form end -->
    </div>
    <div class="invt-right">
        <div class="inventory-recent">
            <h2>Recent Added Ingredients</h2>
            {% for i in re_ingredients %}
            <div>
                <strong>{{ i.created_by }}</strong> 
                added {{i.added_stock}} {{i.unit}}
                of {{i.name}}
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}

{% block script %} {% endblock %}