# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.sqlite3

# Django
db.sqlite3
/staticfiles/
/media/

# Environments
.env
.venv/
venv/
env/
ENV/

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# OS Files
.DS_Store
Thumbs.db

# Git
.git/
