:root{
    --clr-primary: #7380ec;
    --clr-success: #41f1b6;
    --clr-white: #fff;
    --clr-info-dark: #7d8da1;
    --clr-info-light: #dce1eb;
    --clr-dark: #363949;
    --clr-warning: #ff4edc;
    --clr-danger: #ff7782;
    --clr-light: rgba(132, 139, 200, 0.18);
    --clr-primary-variant: #111e88;
    --clr-dark-variant: #677483;
    --clr-color-background: #f6f6f9;
    --hero-background: #4B0082;
    --hero-text: #E5E4E2;
    --clr-footer: #333333;
    --clr-dark-green: #035A52;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
    --box-shadow: 0 0 1rem rgba(0, 0,0, 0.1);
    --box-shadow-table: 0 0 1rem rgba(0, 0, 0, 0.1);
    --text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    appearance: none;
}
/* for heading fontsize */
h1{
    font-size:1.8rem;
    font-weight: 800;
    }
h2{
    font-size:1.4rem;
    } 
h3{
    font-size:0.9rem;
    font-weight: 500;
    } 
h4{
    font-size:0.8rem;
    } 
h5{
    font-size:0.77rem;
    }
/* heading text end */

/* small, muted, bold and paragraph text */

.small{
    font-size:0.75rem;
}

.text-muted{
    color: var(--clr-info-dark);
}    
b{
    color: var(--clr-dark);
} 
p{
    color: var(--clr-dark);
}
/* small bold and paragraph end */

a{
    color: var(--clr-dark)
}

/* ********************************** */
/* Navbar section */
/* *********************************** */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-logo{
    padding: 1rem;
}
.navbar-logo p a{
    font-size: 1.8rem;
    color:#266814;
    font-weight: 600;

}

.navbar-logo p #vet{
    font-size: 1.8rem;
    color: var(--hero-background);
}

.navbar-logo p span{
    font-size: 0.9rem;
    color: var(--hero-background);
}
.navbar-menu ul{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}
.navbar-menu ul li{
    padding:1em;
}
.navbar-menu ul li a{
    color:#266814;
    font-weight: 600;
}

.navbar-end ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar-end ul li{
    padding-right:1em;
}
.navbar-end ul li a button{
    padding:0.7em 0.7em;
    font-size: 0.8rem;
    color: var(--clr-danger);
    font-weight: 400;
    border:1px solid gray;
    border-radius:0.25em;
    cursor:pointer;
    transition: all 0.3s ease;
}

.navbar-end ul li a button:hover{
    background-color: var(--clr-dark-variant);
    color: var(--clr-white);
}
/* end navbar section */
/* ****************** */

/* **************************** */
/* Body section of the page */
/* ******************************* */

/* Home services section */
.home-container{
    width: 99%;
    margin: 0 auto;
}

/* Hero Section */
.home-container .hero-section{
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--hero-background);
}

.home-container .hero-section .hero-left >h1{
    font-size: 3rem;
    margin-bottom: 1.3rem;
}

.home-container .hero-section .hero-left >.para{
    font-size: 1.1rem;
}

.home-container .hero-section .hero-left > .head,.para{
    color: var(--hero-text);
    text-shadow: var(--text-shadow);
    text-align: center;
}

.home-container .hero-section .hero-right img{
    height: 350px;
    width: 350px;
    border-radius: 50%;
}

/* End hero section */
.home-container .services-content{
    margin: 3rem 0;
}
.home-container .services-content h1{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    margin: 2rem 0;
    color: var(--clr-dark-green);
}

.home-container .services-content h1::before,
.home-container .services-content h1::after {
    content: "";
    flex: 1;
    border-bottom: 3px solid var(--clr-dark-green);
    margin: 0 1rem; /* space between line and text */
}

.home-container .services{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin:2rem auto;
}

.home-container .services .service{
    min-height: 300px;
    background: var(--clr-white);
}

.home-container .services .service .home-card{
    padding: 1rem 1.5rem;
    background-color: var(--clr-white);
    box-shadow: var(--box-shadow);
    border-radius: var(--card-border-radius);
    border: 1px solid #ddd;
    height: 40vh;
    position: relative;
}

.home-container .services .service .home-card:hover{
    box-shadow: none;
    transition: all 0.3s ease;
}

.home-container .services .service .home-card .top{
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--clr-dark-green);
    padding: 1rem;
}
.home-container .services .service .home-card .body{
    margin: 1rem 0;
    padding: 0 1rem;
}

.home-container .services .service .home-card .body p{
    color:var(--clr-dark);
    font-size: 1rem;
}
.home-container .services .service .home-card .bottom{
    padding: 1rem;
}

.home-container .services .service .home-card a{
    outline: none;
    cursor:pointer;
    background-color: var(--hero-background);
    padding:0.6rem;
    font-size: 0.9rem;
    border-radius: var(--border-radius-1);
    color: var(--clr-white);
    transition: all 0.3s ease;
    position:relative;
}

.home-container .services .service .home-card a:hover{
    background-color: var(--clr-dark-green);
}
/* Home services section end */


/* end body section */
/* ******************************* */

/* ************ */
/* Footer */
/* *********** */
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.8rem;
    margin: 0;
    width: 100%;
    font-weight: 700;
    background: var(--clr-footer);
    color: var(--clr-info-dark);
}
.footer p{
    color: var(--clr-info-light);
}
/* end footer */