{% extends 'basic/index.html' %}
{% load static %}

{% block stylesheet %}
   <link href="{% static 'css/main.css' %}" rel="stylesheet"/>
   <link href="{% static 'css/production.css' %}" rel="stylesheet"/>
{% endblock %}

{% block title %}Inventory Update{% endblock %}

{% block content %}
<div class="for-container">
    <div class="for-list">
        <h2>Recent Formulas</h2>
        <div class="formula-list">
            <table class="for-table">
                <tr>
                    <th>S.N.</th>
                    <th>Formula Name</th>
                    <th>Created Date</th>
                    <th>Created By</th>
                    <th>Active</th>
                    <th>Action</th>
                </tr>
                {% for formula in formulas %}
                <tr>
                    <td>{{ forloop.counter}}</td>
                    <td>{{ formula.name }}</td>
                    <td> {{ formula.updated_at }}</td>
                    <td>{{ formula.created_by }}</td>
                    <td>{{ formula.is_active }}</td>
                    <td>
                        <div>
                            <span class="update-item"><a href="{% url 'production:formula-detail' formula.pk %}">Update</a></span>
                         <span class="delete-item"><a href="{% url 'production:formula-delete' formula.pk %}">Delete</a></span>
                         </div>
                    </td>
                </tr>
                {% empty %}
                <tr><td colspan="3">No data available</td></tr>
                {% endfor %}
            
            </table>
        </div>
    </div>

    <div class="form-create">
    
    <h2>Create New Formula</h2>
    <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    
    <h2>Add Ingredients To Formula</h2>
    {{ ingredient_formset.management_form }}
    
        <div class="ingredient-form">
            <table>
                {% for form in ingredient_formset %}
                <tr>
                    <td>{{form.ingredient.label_tag}}</td>
                    <td>{{form.ingredient}}</td>
                    <td>{{form.percentage.label_tag}}</td>
                    <td>{{form.percentage}}</td>
                </tr>
                {% endfor %}   
            </table>
        </div>
    <div class="btn-formula">
        <!-- <button type="button" id="add-form">Add Ingredient</button> -->
        <button type="submit">Save Formula</button>
    </div>
</form>
</div>
</div>


{% endblock %}

{% block script %} {% endblock %}