{% extends 'basic/index.html' %}
{% load static %}

{% block stylesheet %}
   <link href="{% static 'css/main.css' %}" rel="stylesheet"/>
   <link href="{% static 'css/production.css' %}" rel="stylesheet"/>
{% endblock %}

{% block title %}Inventory Update{% endblock %}

{% block content %}
<div class="for-container">
    <h2>Create New Formula</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    
    <h3>Ingredients</h3>
    {{ ingredient_formset.management_form }}
    {% for form in ingredient_formset %}
        <div class="ingredient-form">
            {{ form.as_table }}
        </div>
    {% endfor %}
    <button type="button" id="add-form">Add More</button>
    <button type="submit">Save Formula</button>
</form>
</div>

{% endblock %}

{% block script %} {% endblock %}