{% extends 'basic/index.html' %}
{% load static %}

{% block stylesheet %}
   <link href="{% static 'css/main.css' %}" rel="stylesheet"/>
   <link href="{% static 'css/production.css' %}" rel="stylesheet"/>
{% endblock %}

{% block title %}Formula Detail{% endblock %}

{% block content %}

<div>
    <h1>Welcome to production List View</h1>
    <div>
        {% for production in productions %}
        <p>{{production.formula}}--{{production.unit}}--{{production.batch_size}}--{{production.production_date}}</p>
        <a href="">Detail</a>
        {% endfor %}
    </div>
</div>


{% endblock %}

{% block script %} {% endblock %}